<div id="carton">

  <div class="carton" id="degaulle">
    <img id="dgScale" src="data:," alt="sorry">
    <img id="dg" src="data:," alt="sorry">
    <div class="tapInfo">
      <p>Une fois tissée, la tapisserie mesurerait <span id="tapX"></span>&nbsp;x&nbsp;<span id="tapY"></span>, soit une hauteur de <span id="gaulleRatio"></span>&nbsp;!</p>
    </div>
  </div>

  <div class="carton" id="wool">
    <img id="woolImg" src="data:," alt="sorry">
    <div class="tapInfo">
      <p>Il faudrait utiliser environ <span id="tapFil"></span> de fil de laine.</p>
    </div>
  </div>

  <div class="carton" id="duration">
    <img id="delay" src="data:," alt="sorry">
    <div class="tapInfo">
      <p>Cela représenterait plus de <span id="tapDelay"></span> de tissage pour les artisans du Mobilier National !</p>
    </div>
  </div>

</div>
