<div id="dataviz">
  <div id="game"></div>

  <%= require('./dvswitches.ejs')() %>

  <div id="togglesort">
    <div id="ds">teinte</div>
    <label id="hueSwitch" class="switch">
      <input id="sortHue" type="checkbox">
      <span class="slider"></span>
    </label>
    <div id="ds">fréquence</div>
  </div>

  <div id="graphs">
    <div id="bars"></div>
  </div>
  
  <%= require('./carton.ejs')() %>

  <%= require('./legend.ejs')() %>

  <%= require('./insights.ejs')() %>

  <div id="explore">
    explorer
    <label class="switch">
      <input id="exploreBars" type="checkbox">
      <span class="slider"></span>
    </label>
  </div>

</div>
