<div id="description">
  <div id="descbox">
    <h2 id="mnioName"></h2>
    <p><span id="players"></span>, <span id="date"></span>, <span id="dim"></span></p>

    <div id="globalSwitches">
      <div id="tl">
        <a href="#">Timelapse</a>
      </div>

      <label class="switch">
        <input id="switchTL" type="checkbox">
        <span class="slider"></span>
      </label>

      <div id="dv" href="#">Dataviz</div>

      <label class="switch">
        <input id="switchDV" type="checkbox">
        <span class="slider"></span>
      </label>
    </div>

  </div>
</div>
