<div id="dvSwitches">

  <div id="gs">Carton</div>
  <label class="switch">
    <input id="gameSwitch" type="checkbox">
    <span class="slider"></span>
  </label>

  <div id="bs">Joueurs</div>
  <label class="switch">
    <input id="barSwitch" type="checkbox">
    <span class="slider"></span>
  </label>

  <div id="ds">Couleurs</div>
  <label class="switch">
    <input id="donutSwitch" type="checkbox">
    <span class="slider"></span>
  </label>
</div>
