<div id="insights">
  <div id="playerInsight">
    <h1><span id="playerName"></span></h1>
    <p id="number">
      <img id="prev" src="/dist/gallery/img/slow.png" alt="sorry">
      joueur #<span id="playerId"></span>
      <img id="next" src="/dist/gallery/img/slow.png" alt="sorry">
    </p>
  </div>
  <p>   <span id="playerOwn"></span> cases coloriées soit <span id="percentage"></span> % du carton</p>
  <p>&#x7E; <span id="distance"></span> m de fil</p>
  <p>&#x7E; <span id="delay"></span> heures de tissage</p>
</div>
