<div id="legend">
  <p><span id="blue">aa</span> <span id="blueplayers"></span> joueurs ayant plus de 15 cases (<span id="mediumPercentage"></span>% du carton).</p>
  <p><span id="darkblue">aa</span> Top <span id="darkblueplayers"></span> joueurs (<span id="highPercentage"></span>% du carton).</p>
  <p><span id="red">aa</span> Nombre de cases remplies par le joueur médian.</p>
  <p><span id="poors"></span> joueurs ayant moins de 15 cases (<span id="lowPercentage"></span>% du carton, non représentés).</p>
</div>
