<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
	<title>MN.io : Un jeu multijoueur du Mobilier National</title>
	<link rel="license" href="/dist/main.js.LICENSE.txt">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body>
	<section id="game">
		<div id="view" style="position: relative;">
			<canvas></canvas>
			<canvas></canvas>
			<canvas></canvas>

			<div id="player"></div>
			<div id="shadow"></div>
		</div>

		<div id="buttons">
			<button type="button" class="zoom" id="zoomin"><img src="dist/img/icons/plus.png" alt=""></button>
			<button type="button" class="zoom" id="zoomout"><img src="dist/img/icons/minus.png" alt=""></button>
			<button type="button" class="color"></button>
			<button type="button" class="color"></button>
			<button type="button" class="color"></button>
			<button type="button" class="color"></button>
			<button type="button" class="color"></button>
		</div>
	</section>

	<div id="menu">
		<button type="button" onclick="location.href = '/'">
			<img src="dist/img/icons/home.png" alt="">
			<p><b>&#8592; Retour au menu</b></p>
		</button>
		<button type="button" onclick="window.location.reload()">
			<img src="dist/img/icons/refresh.png" alt="">
			<p><b>&#8592; En cas de bug</b></p>
		</button>
		<button type="button" id="help-btn">
			<img src="dist/img/icons/help.png" alt="">
			<p><b>&#8592; Aide</b></p>
		</button>
	</div>

	<section id="help">
		<div id="help-block-move" class="help-block"> </div>
		<div>
			<div id="help-block-zoom" class="help-block"> </div>
			<div id="help-block-fill" class="help-block"> </div>
		</div>
	</section>

</body>

</html>