<div id="buttons">
  <button class="zoom" id="zoomin"><a>+</a></button>
  <button class="zoom" id="zoomout"><a>-</a></button>
  <button class="color" id="c1"></button>
  <button class="color" id="c2"></button>
  <button class="color" id="c3"></button>
</div>
</div>
