<div id="buttons">
  <button type="button" class="zoom" id="zoomin"><a>+</a></button>
  <button type="button" class="zoom" id="zoomout"><a>-</a></button>
  <button type="button" class="color" id="c1"></button>
  <button type="button" class="color" id="c2"></button>
  <button type="button" class="color" id="c3"></button>
</div>

<div id="utils">
  <button id="refresh" type="button"><a>o</a></button>
  <button id="openTuto" type="button"><a>?</a></button>
</div>
