<p id="requireHTTPS" style="display:none">
  <b>STOP!</b> This page <b>must</b> be served over HTTPS.
  Please <a>reload this page via HTTPS</a>.
</p>
<div id="installContainer">
<button id="butInstall" class="input" type="button">
  <a>Installer<a>
</button>
</div>
