<div id="lobby">
  <div id="logwindow">
    <h1>MN.io</h1>
    <input type="text" id="userName" placeholder="Nom d'utilisateur ..." /><br>
    <input type="password" id="Password" placeholder="Mot de passe ..." /><br>
    <button id="login"><a>Jouer !</a></button>
  </div>
</div>
