<div id="tuto">
  <button id="closeTuto" type="button">
    <img src="dist/img/close.png" alt="sorry">
  </button>
  <h4>Tutoriel en chantier ! :)</h4>
  <hr />
  <h3>Coloriez votre première case pour pouvoir vous déplacer</h3>
  <p>Les cases grises indiquent les zones où vous pouvez aller</p>

  <div id="pcTuto">
    <br />
    <h2>Colorier</h2>
    <p><b>Barre espace</b> : Colorier avec la couleur active</p>
    <p><b>Flèches haut et bas</b> : Changer de couleur</p>
    <br />
    <h2>Se déplacer</h2>
    <p><b>q</b> : gauche</p>
    <p><b>d</b> : droite</p>
    <p><b>s</b> : bas</p>
    <p><b>z</b> : haut</p>
    <br />
    <h2>Zoomer/dézoomer</h2>
    <p><b>Flèches droite et gauche</b></p>
    <p><b>Boutons + et -</b></p>
    <br />
    <h2>En cas de bug : </h2>
    <p>Rafraîchir en cliquant sur <img src="dist/img/refresh.png" alt="sorry">
    </p>
  </div>

  <div id="mobileTuto">
    <br />
    <p><b>Colorier : </b>Boutons de couleurs</p>
    <br />
    <p><b>Se déplacer : </b>Swiper</p>
    <br />
    <p><b>Zoomer/dézoomer : </b>Boutons + et -</p>
    <br />
    <p><b>En cas de bug : </b> Rafraîchir en cliquant sur <img src="dist/img/refresh.png" alt="sorry">
    </p>
  </div>

</div>
