<div id="tuto">
  <button id="closeTuto" type="button">
    <img src="dist/img/close.png" alt="sorry">
  </button>
  <div class="alltuto">

    <h4>Tutoriel en chantier ! :)</h4>
    <hr />
    <h4>Coloriez votre première case pour pouvoir vous déplacer</h4>
    <p>Les cases grises indiquent les zones où vous pouvez aller</p>
    <hr />
  </div>

  <div id="pcTuto">
    <br />
    <h3>Colorier</h3>
    <p><b>Barre espace</b> : Colorier avec la couleur active</p>
    <p><b>Flèches haut et bas</b> : Changer de couleur</p>
    <br />
    <h3>Se déplacer</h3>
    <p><b>q</b> : gauche</p>
    <p><b>d</b> : droite</p>
    <p><b>s</b> : bas</p>
    <p><b>z</b> : haut</p>
    <br />
    <h3>Zoomer/dézoomer</h3>
    <p><b>Flèches droite et gauche</b></p>
    <p><b>Boutons + et -</b></p>
    <br />
    <hr />
    <p class="bug"><b>En cas de bug : </b> Rafraîchir en cliquant sur <img src="dist/img/refresh.png" alt="sorry">
    </p>
  </div>

  <div id="mobileTuto">
    <br />
    <p><b>Colorier : </b>Boutons de couleurs</p>
    <p><b>Se déplacer : </b>Swiper</p>
    <p><b>Zoomer/dézoomer : </b>Boutons + et -</p>
    <br />
    <hr />
    <p class="bug"><b>En cas de bug : </b> Rafraîchir en cliquant sur <img src="dist/img/refresh.png" alt="sorry">
    </p>
  </div>

</div>
