  <% if (locals.isDev) { %>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
  <% } %>
  <% if (locals.scripts) { %>
	  <% for (const script of scripts) { %>
      <script type="module" src="/assets/<%= script %>.js"></script>
	  <% } %>
	<% } %>
	</body>
</html