<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery.touchwipe.1.1.1.js"></script>
<script src="js/client-gui.js"></script>
<script src="js/client-lobby.js"></script>
<script src="js/client-canvas.js"></script>
<script src="js/client-events-browser.js"></script>
<script src="js/client-events-mobile.js"></script>
<script src="js/client-game.js"></script>
</body>
</html>
