<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery.touchwipe.1.1.1.js"></script>
<script src="js/client-ui.js"></script>
<script src="js/client-map.js"></script>
<script src="js/client-player.js"></script>
<script src="js/client-cell.js"></script>
<script src="js/client-game.js"></script>
<script src="js/client-animation.js"></script>
<script src="js/client-networking.js"></script>
<script src="js/client-events-browser.js"></script>
<script src="js/client-events-mobile.js"></script>
</body>
</html>
