<div id="volet">
  <div id="logwindow">
    <input type="text" id="userName" placeholder="Nom d'utilisateur ..." /><br>
    <input type="password" id="Password" placeholder="Mot de passe ..." /><br>
    <button id="login"><a>S'inscrire / Se connecter</a></button>
  </div>
</div>
