#player,
#shadow {
  position: absolute;
  transition-timing-function: linear;
}

#player {
  border: solid white;
}

#shadow {
  border: solid 1px #777;
  box-shadow: 3px 3px 5px 0px #777;
  mix-blend-mode: multiply;
}