#buttons {
  /* position: absolute; */
  z-index: 50;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  & button {
    box-sizing: border-box;
    width: 5vw;
    height: 5vw;
    min-height: 40px;
    min-width: 40px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 5px;
    box-shadow: #aaa 5px 5px;

    &.zoom {
      transition: all 0.1s ease;
      transform: scale(0.7);
      border: solid 1px black;
    }

    &:not(.zoom) {
      border: solid 1px black;
    }
  }
}

#refresh,
#openTuto,
#closeTuto {
  opacity: 0.5;
  background: none;
  border: none;
  color: black;
  position: fixed;
  height: 30px;
  width: 30px;
  right: 10px;
  filter: grayscale(100%);

  &:hover {
    opacity: 1;
    color: blue;
    filter: grayscale(0%);
  }
}

#refresh {
  z-index: 960;
  top: 10px;
}

#closeTuto,
#openTuto {
  display: none;
  z-index: 970;
  top: 60px;
}