.message-welcome {
  line-height: 2em;
  font-size: 1.2em;
  color: blue;
  line-height: 1.6em;
  margin: 0.5em 0;
}

#galerie {
  text-decoration: none;
  margin-top: 5vh;
  border: 1px solid darkgrey;
  background: white;
  padding: 0;

  &:hover {
    border: 1px solid blue;
    color: blue;
  }

  & a {
    padding: 2vh 0;

    & p {
      margin: 0;
    }
  }
}

#jeu,
#galerie {
  font-size: 1.4em;
  letter-spacing: 0.07em;
  width: 100%;
}