#buttons {
  position: absolute;
  z-index: 50;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#buttons button {
  box-sizing: border-box;
  max-height: 50px;
  max-width: 50px;
  border-radius: 5px;
  box-shadow: #aaa 5px 5px;
}

#buttons button:not(.zoom) {
  border: solid 1px black;
}

.zoom {
  transform: scale(0.8);
  border: solid 1px black;
}

.zoom:hover {
  color: blue;
  border: solid 1px blue;
}
