#buttons {
  z-index: 50;
  display: flex;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
}

#buttons button {
  border: solid 1px black;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: #aaa 5px 5px;
  max-height: 50px;
  max-width: 50px;
  box-sizing: border-box;
}

#zoomin, #zoomout {
  transform: scale(0.8);
}

#zoomin:active, #zoomout:active {
  transform: scale(1);
}

#buttons a, #utils a, #closeTuto a {
  font-size: 2em;
}

#utils button, #closeTuto {
  opacity: 0.5;
  background: none;
  border: none;
  color: black;
  position: fixed;
  right: 10px;
  height: 30px;
  width: 30px;
}

#utils button:hover,  #closeTuto:hover {
  opacity: 1;
  color: blue;
}

#refresh {
  z-index: 960;
  top: 10px;
}

#openTuto, #closeTuto {
  z-index: 700;
  top: 50px;
}
