#buttons {
  z-index: 50;
  display: flex;
  justify-content: center;
  position: absolute;
}

#buttons button {
  border: solid 1px black;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: #aaa 5px 5px;
  max-height: 50px;
  max-width: 50px;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

#buttons button:focus {
  outline: none;
}

#zoomin, #zoomout {
  transform: scale(0.8);
}

#zoomin:active, #zoomout:active {
  transform: scale(1);
}

button:hover {
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

.zoom a {
  font-size: 2em;
}
