html {
  overflow: hidden;
}

:root {
  --grey: #f2f2f2;
}

body {
  font-family: 'Inconsolata', monospace;
  touch-action: none;
  margin: 0;
}

body, #lobby, #https, #tuto, #installedMessage {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--grey);
}

#lobby, #https, #tuto, #installedMessage {
  opacity: 1;
  z-index: 800;
  transition: opacity 0.2s ease;
}

button {
  transition: all 0.2s ease;
}

button:hover {
  cursor: pointer;
  transition: all 0.2s ease;
}

button:active {
  opacity: 0.8;
}

button:focus {
  outline: none;
}
