@media screen and (max-width: 1000px) {
  #lobby h1 {
    margin-top: 15vh;
  }
}

@media screen and (min-width: 1000px) {
  #lobby h1 {
    margin-top: 25vh;
  }
}

#lobby h1 {
  width: 100%;
  top: 0;
  color: blue;
  text-align: center;
  font-size: 3.5em;
  letter-spacing: 0.2em;
}

#container {
  width: 60%;
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
}

#lobby h1, #container {
  opacity: 0;
  transition-delay: 0.5s;
  transition: opacity 0.5s ease;
}

#logWindow {
  width: 100%;
}

#logWindow h4 {
  margin-bottom: 0;
}

#logWindow input {
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px #888;
  width: 100%;
  background: #f9f9f9;
  padding: 2vh 10%;
  display: inline-block;
  border-radius: 0;
}

#logWindow input:focus {
  outline: none;
  border-bottom: solid 1px blue;
}

#forgot {
  margin-top: 0;
  color: #666;
  margin-top: 1vh;
  float: right;
  margin-left: auto;
}

#forgot:hover {
  cursor: pointer;
  color: blue;
}

.btn {
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 2vh 10%;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

.high {
  margin-top: 7vh;
  background: blue;
  border: 1px solid blue;
}

.high:hover {
  background: white;
  color: blue;
}

.low {
  margin-top: 2vh;
  color: #666;
  background: #f9f9f9;
  border: none;
}

.low:hover {
  color: blue;
}

#installMessage p, #installedMessage p {
  font-size: 1.2em;
}

#iosMessage h4 {
  margin: 0;
  padding-left: 20%;
  line-height: 50px;
  font-size: 18px;
}

#iosMessage img {
  height: 50px;
  width: 50px;
}

#share {
  transform: translateY(15px);
}

#save {
  transform: translateY(20px);
}

#https, #installedMessage {
  z-index: 980;
  box-sizing: border-box;
  padding: 20%;
}

#https p {
  font-size: 1.5em;
  line-height: 2em;
}

#installMessage, #installedMessage, #installBtn, #iosMessage, #stayBtn, #https {
  display: none;
}
