#tuto {
  opacity: 0;
  display: none;
  box-sizing: border-box;
  padding-top: 10vh;
}

#tuto *:not(img, #closeTuto) {
  width: 85%;
  min-width: 200px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#pcTuto, #mobileTuto {
  display: none;
}

#tuto h2, .bug b, #tuto h3 {
  color: blue;
}

#pcTuto img, #mobileTuto img  {
  width: 25px;
  height: 25px;
  transform: translateY(8px);
}
