<div class="login">

  <div class="login-username">
    <h4>Nom d'utilisateur</h4>
    <input type="text" placeholder="Nouveau ou enregistré" />
  </div><br />

  <div class="login-password">
    <h4>Mot de passe</h4>
    <input type="password" placeholder="Max 8 caractères" />
  </div>

  <div class="login-confirmation">
    <h4>Confirmer le mot de passe</h4>
    <input type="password" placeholder="Max 8 caractères" />
  </div>

  <h4 class="forgot">Mdp oublié ?</h4>

  <button class="log-username-btn btn high">Suivant &#10132</button>

  <button class="log-password-btn btn high">Jouer !</button>

</div>