#volet {
  position: fixed;
  overflow: hidden;
  opacity: 1;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  z-index: 800;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#logwindow h1{
  letter-spacing: 0.2em;
  color: #494949;
  font-size: 4em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#logwindow {
  display: block;
  max-width: 400px;
  width: 40%;
  margin: 25vh auto;
  top: 0;
  left: 0;
  z-index: 900;
}

#login a {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

#userName, #Password {
  box-sizing: border-box;
  width: 100%;
  margin-top: 3vh;
  color: #494949;
  background: #ffffff;
  padding: 3vh 10%;
  border: 2px solid #a0a0a0;
  display: inline-block;
}

#login {
	border-radius: 5px;
  width: 100%;
  margin-top: 5vh;
  color: #494949;
  background: #99999;
  padding: 3vh 10%;
  border: 2px solid #494949;
  display: inline-block;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease 0s;
}

#login:hover {
  cursor: pointer;
  background: #494949;
  color: white;

  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease 0s;
}
