#volet {
  position: fixed;
  overflow: hidden;
  opacity: 1;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  z-index: 999;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#logwindow {
  display: block;
  width: 40%;
  margin: 25vh 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

#login a {
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 0.1em;
}

#userName, #Password {
  box-sizing: border-box;
  width: 100%;
  margin-top: 3vh;
  color: #494949;
  background: #ffffff;
  padding: 3vh 10%;
  border: 2px solid #a0a0a0;
  display: inline-block;
}

#login {
	border-radius: 15px;
  width: 100%;
  margin-top: 5vh;
  color: #494949;
  background: #ffffff;
  padding: 3vh 10%;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

#login:hover {
  cursor: pointer;
  color: #ffffff;
  background: #494949;
  transition: all 0.4s ease 0s;
}
