<div id="buttons">

  <div id="tl">
    <a href="#">Timelapse</a>
  </div>

  <label class="switch">
    <input id="switchTL" type="checkbox">
    <span class="slider"></span>
  </label>

  <div id="timeBtns">
    <button id="reset">
      <img src="/dist/gallery/img/reset.png" alt="sorry">
    </button>
    <button id="slow">
      <img src="/dist/gallery/img/slow.png" alt="sorry">
    </button>
    <button id="fast">
      <img src="/dist/gallery/img/fast.png" alt="sorry">
    </button>
    <button id="faster">
      <img src="/dist/gallery/img/fast.png" alt="sorry">
    </button>
    <button id="pause">
      <img src="/dist/gallery/img/pause.png" alt="sorry">
    </button>
    <button id="end">
      <img src="/dist/gallery/img/end.png" alt="sorry">
    </button>
  </div>

  <div id="dv" href="#">Dataviz</div>

  <label class="switch">
    <input id="switchDV" type="checkbox">
    <span class="slider"></span>
  </label>

</div>
