<script src="https://d3js.org/d3.v5.min.js"></script>

<div id="container">
<div id="dataviz">
  <div id="dvBtns">

  <button id="hue">
    O
  </button>

  <button id="bars">
    iii
  </button>
</div>
</div>
</div>
