<div id="buttons">
  <button type="button" class="zoom" id="zoomin">+</button>
  <button type="button" class="zoom" id="zoomout">-</button>
  <button type="button" class="color" id="c1"></button>
  <button type="button" class="color" id="c2"></button>
  <button type="button" class="color" id="c3"></button>
  <button type="button" class="color" id="c4"></button>
  <button type="button" class="color" id="c5"></button>
</div>

<div id="utils">
  <button id="refresh" type="button" onclick="window.location='/game'">
    <img src="dist/img/refresh.png" alt="sorry">
  </button>
  <button id="openTuto" type="button">
    <img src="dist/img/what.png" alt="sorry">
  </button>
</div>