<section id="menu">
	<form action="/logout" method="post">
		<button type="submit">
			<img src="/assets/img/logout.svg" alt="" />
			<p>&#8592; Retour au menu</p>
		</button>
	</form>
	<button type="button" onclick="window.location.reload()">
		<img src="/assets/img/refresh.svg" alt="" />
		<p>&#8592; En cas de bug</p>
	</button>
	<button type="button" id="help-btn">
		<img class="help-open-icon" src="/assets/img/help.svg" alt="" />
		<img class="help-close-icon" src="/assets/img/close.svg" alt="" />
		<p>&#8592; Aide</p>
	</button>
</section>