#buttons {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

#buttons button {
  opacity: 0.8;
  background: none;
  height: 30px;
  padding: 3px;
  border: none;
}

#buttons button img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#buttons button:active {
  filter: saturate(100%);
}

#back {
  z-index: 900;
  position: absolute;
  background: none;
  bottom: 5px;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 2vh 10%;
  border-radius: 5px;
  color: black;
  display: inline-block;
  margin-top: 2vh;
  border: none;
  transition: color 0.2s ease;
}

#back:hover, a:hover {
  color: blue;
  transition: color 0.2s ease;
}

a {
  color: #666;
  text-decoration: none;
  transition: color 0.2s ease;
}

#timeBtns {
  display: none;
  margin: 0 30px;
  opacity: 0;
  transition: all 0.1s ease;
}

.switch {
  margin: 5px 15px 0;
  position: relative;
  display: inline-block;
  width: 38px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: blue;
}

input:checked+.slider:before {
  transform: translateX(19px);
}

button a {
  line-height: 15px;
}


#dv {
  float: right;
  margin-left: auto;
}
