#dataviz {
  z-index: 400;
  padding: 5% 5% 5% 2%;
  box-sizing: border-box;
  width: 50%;
  float: right;
  margin-left: auto;
}

#dvSwitches {
  margin-bottom: 3vh;
  display: flex;
  justify-content: center;
}

#graphs {
  width: 100%;
  height: 45%;
}

#insights {
  position: absolute;
  bottom: 2%;
  right: 1%;
  padding: 0.5em 2%;
  box-sizing: border-box;
  min-width: 400px;
  max-width: 600px;
  width: 31%;
  transform: translate(-30%, -10%);
  border-radius: 10px;
  background: white;
  border: solid 1px #a0a0a0;
  box-shadow: 5px 5px 5px #a0a0a0;
  display: none;
}

#legend span:not(#red, #darkblue) {
  font-weight: 600;
  color: blue;
}

#insights span {
  color: blue;
  font-size: 1.3em;
}

#insights h1 {
  margin: 0 1%;
}

#insights img {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
  }
}

.rect {
  & * {
    opacity: 0.6;
  }

  &:hover * {
    cursor: pointer;
    opacity: 0.8;
  }
}

#blueplayers, #darkblueplayers, #poors {
  color: blue;
  font-size: 1.1em;
}

#donut, #bars {
  transform-origin: top left;
}

#bars {
  margin-top: 3vh;
}

#donut {
  margin-top: 4vh;
}

#togglesort {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#hueSwitch {
  margin: 0 1em;

  & .slider {}

  & input:checked+.slider {
    background-color: #ccc;
  }
}

#legend {
  display: none;
  font-size: 0.9em;
  box-sizing: border-box;
  padding-left: 10%;
  margin-bottom: 4vh;
  margin: auto;
  width: 100%;
  max-width: 600px;
}

#blue {
  color: blue;
  background: blue;
}

#darkblue {
  background: darkblue;
  color: darkblue;
}

#red {
  border-radius: 100%;
  font-size: 7px;
  background: red;
  color: red;
}

#yAxis2 {
  transform-origin: left;
}

#prev {
  transform: translateY(11px) rotate(180deg);
}

#next {
  transform: translateY(11px);
}

#playerInsight {
  display: flex;
}

#number {
  margin: 0 2% 0 auto;
  float: right;
}

#explore {
  text-align: center;
  display: none;
  margin-top: 11vh;
}
