<div class="installation">

  <div>
    <p class="message-install">Voulez vous ajouter MN.io à l'écran d'accueil ?</p>
  </div>

  <div class="message-installed">
    <h2>Merci d'avoir installé MN.io !</h2>
    <p>Retrouvez l'application sur l'écran d'accueil dans quelques secondes pour jouer.</p>
  </div>

  <div class="message-install-ios">
    <p><img src="dist/img/share.png" alt="sorry"> Cliquez sur "Partager" dans la barre d'outils au bas de l'écran. </p>
    <p><img src="dist/img/save.png" alt="sorry"> Puis "Ajouter à l'écran d'accueil".</p>
  </div>

  <button class="install-btn btn high" type="button">
    Installer
  </button>

  <button class="stay-btn btn low" type="button">
    Non, rester dans le navigateur &#10132
  </button>

</div>