<div class="lobby">
  <h4 class="message-welcome">Bienvenue sur MN.io, un jeu dédié à la création d'une tapisserie collaborative pour le Mobilier&nbsp;National !</h4>

  <button class="btn low" id="galerie">
    <a href="/gallery">
      <p>
        La galerie
      </p>
    </a>
  </button>

  <button class="btn high" id="jeu">Le jeu</button>
</div>