<div id="lgf">
  <img id="logofull" src="dist/img/logo-full.png" alt="sorry">
</div>

<div class="message-welcome">
  <h4>Bienvenue sur MN.io, un jeu dédié à la création d'une tapisserie collaborative pour le Mobilier&nbsp;National !</h4>
</div>

<div id="choice">
  <button class="btn low" id="galerie">
    <a href="/gallery">
      <p>
        La galerie
      </p>
    </a></button>
  <button class="btn high" id="jeu">Le jeu</button>
</div>