<!DOCTYPE html>
<html>
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap"
			rel="stylesheet"
		/>
		<title>MN.io : Un jeu multijoueur du Mobilier National</title>
		<link rel="license" href="/dist/main.js.LICENSE.txt" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
		/>
	</head>

	<body>
		<main>
			<h1>Choisissez une palette de couleurs</h1>
			<section class="palette">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</section>
			<section class="buttons">
				<button type="button" class="tap-change">changer</button>
				<button type="button" class="tap-select">choisir</button>
			</section>
		</main>
	</body>
</html>
