:root {
	font-size: 16px;
}

@media screen and (max-width: 700px) {
	:root {
		font-size: 14px;
	}
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--grey);
	height: 100%;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 700px;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.palette {
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: space-around;
}

.palette > div {
	box-sizing: border-box;
	border-radius: 5px;
	border: solid 1px var(--dark);
	box-shadow: #aaa 5px 5px;
	width: 3rem;
	height: 3rem;
	transition: background 0.2s ease;
}

section.buttons {
	margin-top: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 700px) {
	section.buttons {
		flex-direction: column;
	}
	.tap-select {
		margin-top: 1rem;
	}
}
@media screen and (min-width: 700px) {
	.tap-select {
		margin-left: 1rem;
	}
	.tap-change {
		margin-right: 1rem;
	}
}
.tap-change,
.tap-select {
	font-size: 2rem;
	letter-spacing: 0.1rem;
	border-radius: 5px;
	color: white;
	padding: 1rem 2rem;
}

.tap-select {
	background: blue;
	border: 1px solid blue;
}

.tap-select :hover {
	background: white;
	color: blue;
}

.tap-change {
	color: #666;
	background: white;
	border: solid darkgrey 1px;
}

.tap-change:hover {
	color: blue;
}
