section#help {
	position: absolute;
	z-index: 800;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.help-block {
	display: none;
	position: absolute;
	box-sizing: border-box;
	border: solid 2px var(--dark);
	background: rgba(250, 250, 250, 0.85);
	border-radius: 10px;
	text-align: center;

	& h2 {
		font-size: 1.7rem;
	}

	& span.key {
		border: solid 1px var(--dark);
		background-color: white;
		border-radius: 5px;
		padding: 0.5rem;
		min-width: 1.2rem;
		min-height: 1.2rem;
		display: inline-block;
		text-align: center;
	}
}

section#help {
	@include width-larger {
		width: 25%;
		right: 15%;
	}
	@include height-larger {
		bottom: 10vh;
	}

	.help-block {
		@include width-larger {
			width: 100%;
			right: 0;
		}
	}

	& #help-block-zoom {
		@include width-larger {
			top: 29%;
			transform: translate(0, -50%);
		}
		@include height-larger {
			bottom: 0;
			left: 5%;
			width: 25%;
			bottom: 15%;
		}
	}

	& #help-block-fill {
		@include width-larger {
			top: 52%;
			transform: translate(0, -50%);
		}
		@include height-larger {
			bottom: 0;
			right: 5%;
			bottom: 15%;
			width: 60%;
		}
	}

	& #help-block-move {
		@include width-larger {
			bottom: 5%;
		}

		@include height-larger {
			bottom: 25%;
			left: 50%;
			width: 90%;
			transform: translate(-50%, 0);
		}
	}

	& #help-block-fill,
	& #help-block-zoom {
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 1rem 0 1rem 1rem;
			border-color: transparent var(--dark) transparent;

			@include width-larger {
				top: 50%;
				right: 0;
				transform: translate(100%, -50%);
			}

			@include height-larger {
				bottom: 0;
				left: 50%;
				transform: rotate(90deg) translate(150%, 25%);
			}
		}
	}
}

#help-block-move .arrow-keys {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 0.3rem;
	align-items: center;
	max-width: 8rem;
	margin-left: auto;
	margin-right: auto;
	grid-template-areas:
		'. up .'
		'left down right';

	& .key.up {
		grid-area: up;
	}

	& .key.left {
		grid-area: left;
	}

	& .key.right {
		grid-area: right;
	}

	& .key.down {
		grid-area: down;
	}
}
