#help {
	display: none;
	position: absolute;
	z-index: 800;
	top: 0;
	left: 0;
	pointer-events: none;

	& > div {
		position: absolute;

		&:not(.help-block) {
			display: flex;
			justify-content: center;

			& div {
				margin: 5px;
			}
		}
	}
		
	& svg {
		visibility: hidden;
		position: absolute;
		transform-origin: left;
		transform: translateX(100%) scale(1.5);

		& path {
			transform: translateX(-1px);
		}
	}
}

.help-block {
	visibility: hidden;
	border: solid 2px var(--dark);
	background: var(--grey);
	padding: 0 2rem;
	border-radius: 10px;
	text-align: center;

	& h2 {
		font-size: 1.7rem;
	}

	& h3 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	& .arrow-keys {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 0.3rem;
		align-items: center;
		grid-template-areas: 
			". up ."
			"left down right";
		
		& .key.up {
			grid-area: up;
		}

		& .key.left {
			grid-area: left;
		}

		& .key.right {
			grid-area: right;
		}

		& .key.down {
			grid-area: down;
		}
	}

	& span.key {
		border: solid 1px var(--dark);
		background-color: white;
		border-radius: 5px;
		padding: 0.5rem;
		min-width: 1.2rem;
		min-height: 1.2rem;
		display: inline-block;
		text-align: center;
	}
}
