body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: flex-start;

	height: 100%;
	width: 100%;

	box-sizing: border-box;
	overflow: hidden;
	padding: min(2.5%, 1.5rem);

	@include width-larger {
		flex-direction: row;
	}

	@include height-larger {
		flex-direction: column;
	}
}

section#view, section#buttons {
	animation: fade-in 0.4s ease-out;
}