section#view {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	background: white;
	
	& canvas {
		overflow: hidden;
		position: absolute;
		transition-timing-function: linear;
		transform-origin: top left;
	}
}
