#menu {
	position: absolute;
	z-index: 980;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

#menu,
#menu #help-btn {
	border-radius: 0 0 min(50%, 25px) 0;
}

#menu button {
	display: flex;
	align-items: center;
	background: $color__background;
	padding: 3px;
	padding: 0.75rem;

	font-weight: 400;
	font-size: 1.1rem;

	color: $color__font-dark;
	border: none;

	& p {
		margin: 0 0.75rem;
	}

	& img {
		min-height: 32px;
		height: 4.5vh;
		max-height: 48px;
	}

	&:hover {
		color: $color__primary-dark;
		filter: brightness(0.95);

		& img {
			filter: invert(0.3) sepia(1) saturate(5) hue-rotate(180deg);
		}
	}

	&:active {
		filter: brightness(0.9);
	}
}

#menu {
	& button p,
	.help-close-icon {
		display: none;
	}

	& .help-open-icon {
		display: block;
	}

	&.open {
		& button p,
		.help-close-icon {
			display: block;
		}
		& .help-open-icon {
			display: none;
		}
	}
}
