@mixin width-larger {

	.width-larger & {
		@content;
	}
}

@mixin height-larger {

	.height-larger & {
		@content;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@mixin shadow-mid {
	box-shadow: #bbb 5px 5px;
}
@mixin shadow-up {
	box-shadow: #ddd 8px 8px;
}
@mixin shadow-down {
	box-shadow: #777 2px 2px;
}