#player,
#shadow {
	display: none;
  position: absolute;
  transition-timing-function: linear;
  box-sizing: border-box;
}

#player {
  border: solid white;
}

#shadow {
  border: solid 1px var(--dark);
  box-shadow: 3px 3px 5px #777;
  mix-blend-mode: multiply;
}