<% if (locals.text) { %>
<p class="message text"><%= text %></p>
<% } %>

<% if (locals.instruction) { %>
<p class="message instruction"><%= instruction %></p>
<% } %>

<% if (locals.info) { %>
<p class="message info"><%= info %></p>
<% } %>

<% if (locals.error) { %>
<p class="message error"><%= error %></p>
<% } %>