<div id="masks">
  <div class="mask" id="topmask"></div>
  <div class="mask" id="bottommask"></div>
  <div class="mask" id="leftmask"></div>
  <div class="mask" id="rightmask"></div>
</div>

<div id="master" style="position: relative;">
  <canvas class="mapcanvas" id="canvas1"></canvas>
  <canvas class="mapcanvas" id="canvas2"></canvas>
  <canvas class="mapcanvas" id="canvas3"></canvas>
  <%= require('../player/player.ejs')() %>
</div>