.message {
	line-height: 1.5;

	&.text {
		margin-bottom: 2rem;
	}
	
	&.info {
		margin: 1.5rem 0 0;
		color: $color__secondary-dark;
	}

	&.info, &.text {
		font-size: 1.3rem;
	}

	&.error {
		border-radius: 0.25rem;
		padding: 0.75rem 1.5rem;

		background-color: $color__error;
		color: color__font-error;

		animation: shake 0.3s ease-in-out;
	}
}
