@media screen and (max-height: 800px) {
  #lgf {
    margin-top: 7vh;
  }
}

@media screen and (min-height: 800px) {
  #lgf {
    margin-top: 15vh;
  }
}

#logofull {
  width: 100%;
  margin-bottom: 3vh;
}

#container {
  display: none;
}

#welcomeMsg h4 {
  line-height: 1.6em;
}

#container, #lgf, #choice, #welcomeMsg {
  width: 75%;
  min-width: 200px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#lobby h1, #container {
  opacity: 0;
  transition-delay: 0.5s;
  transition: opacity 0.5s ease;
}

.btn {
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 2vh 10%;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

.high {
  margin-top: 7vh;
  background: blue;
  border: 1px solid blue;
}

.high:hover {
  background: white;
  color: blue;
}

.low {
  margin-top: 2vh;
  color: #666;
  background: var(--grey);
  border: none;
}

.low:hover {
  color: blue;
}

#installMessage p, #installedMessage p {
  font-size: 1.2em;
}

#iosMessage p {
  margin: 1vh 0;
  line-height: 1.7em;
  font-size: 1.2em;
}

#iosMessage img {
  height: 50px;
  width: 50px;
}

#share {
  transform: translateY(15px);
}

#save {
  transform: translateY(20px);
}

#https, #installedMessage {
  z-index: 980;
  box-sizing: border-box;
  padding: 20%;
}

#https p {
  font-size: 1.5em;
  line-height: 2em;
}

#installMessage, #installedMessage, #installBtn, #iosMessage, #stayBtn, #https {
  display: none;
}

#galerie {
  text-decoration: none;
  margin-top: 10vh;
  border: 1px solid darkgrey;
  background: white;
  padding: 0;
}

#galerie a {
  padding: 2vh 0
}

#galerie a p {
  margin: 0;
}

#galerie:hover {
  border: 1px solid blue;
  color: blue;
}

#jeu, #galerie {
  font-size: 1.4em;
  letter-spacing: 0.07em;
  width: 100%;
}
