<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<title>Mnio - Galerie</title>
	<meta name="viewport" content="width=device-width, height=device-height">
	<link href="/dist/gallery/gallery.css" rel="stylesheet">
</head>
</head>

<body>

	<div id="menu">
		<img id="logo" src="/dist/img/icons/logo-full.png" alt="sorry">
		<h3 id="galleryMenu">| La galerie</h3>
	</div>
	<%= require('./ejs/gamelist.ejs')() %>
	<div id="gallery">
		<%= require('./ejs/description.ejs')() %>
		<%= require('./ejs/canvas.ejs')() %>
		<%= require('./ejs/dataviz.ejs')() %>
	</div>
	<div id="cover"></div>

	<script src="/dist/gallery/gallery.js"></script>
</body>

</html>