.message-welcome {
  font-size: max(1.1rem, 17px);
  color: blue;
  line-height: 1.8rem;
  margin: 0 auto;
}

#galerie {
  margin-top: 5vh;
  padding: 0;
  border: 1px solid darkgrey;
  background: white;

  &:hover {
    border: 1px solid blue;
    color: blue;
  }

  & a {
    display: inline-block;
    width: 100%;
    padding: 2vh 0;
    text-decoration: none;

    &:active {
      color: blue;
    }

    & p {
      margin: 0;
    }
  }
}

/* #jeu,
#galerie {
  letter-spacing: 0.07em;
  width: 100%;
} */