.login,
.login-password,
.login-confirmation,
.log-password-btn,
.forgot {
  display: none;
}

.login {
  & input {
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px #888;
    width: 100%;
    background: var(--grey);
    padding: 2vh 10%;
    display: inline-block;
    border-radius: 0;

    &:focus {
      outline: none;
      border-bottom: solid 1px blue;
    }
  }
}

.login-username,
.login-password {
  margin-top: 15vh;
}

.forgot {
  margin-top: 0;
  color: #666;
  margin-top: 1vh;
  float: right;
  margin-left: auto;

  &:hover {
    cursor: pointer;
    color: blue;
  }
}