@media screen and (max-height: 800px) {
  #mnio-logo {
    margin-top: 7vh;
  }
}

@media screen and (min-height: 800px) {
  #mnio-logo {
    margin-top: 15vh;
  }
}

#mnio-logo img {
  width: 100%;
  margin-bottom: 3vh;
}

#mnio-logo,
.lobby,
.login,
.installation {
  width: 75%;
  min-width: 200px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.lobby,
#mnio-logo {
  opacity: 0;
  transition: opacity 0.3s ease;
}