$primary-color: #007bff;
$color__info: rgb(204, 254, 204);
$color__error: rgb(254, 191, 198);

main {
	margin-top: min(15%, 300px);
	width: 75%;
	min-width: 200px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

button,
input {
	border-radius: 0.25rem;
	box-shadow: 0 0 0 0 rgb(0 123 255 / 50%);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	line-height: 1.5;
	&:focus {
		outline: none;
		box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
	}
}

form {
	box-sizing: border-box;
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	.text-input {
		width: 100%;
	}
}

label {
	display: block;
	margin-top: 1rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

input {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #ced4da;
}

button {
	margin-top: 2rem;
	width: 100%;

	&.secondary {
		width: calc(50% - 0.75rem);
	}

	& + button {
		width: calc(50% - 0.75rem);
	}

	&.primary:nth-of-type(3) {
		width: 100%;
	}

	border-radius: 0.25rem;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		opacity: 0.5;
	}

	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;

	&.primary {
		color: #fff;
		background-color: $primary-color;
		border: 1px solid $primary-color;

		&:hover {
			color: #fff;
			background-color: #0069d9;
			border-color: #0062cc;
		}

		&:active {
			color: #fff;
			background-color: #0062cc;
			border-color: #005cbf;
		}
	}

	&.secondary {
		color: #6c757d;
		background-color: #fff;
		border: 1px solid #6c757d;

		&:hover {
			color: #0069d9;
			// background-color: #eef2f4;
			border-color: #0069d9;
		}

		&:active {
			background-color: #dfdfdf;
		}
	}
}

.message {
	line-height: 1.5;

	&.info {
		margin: 1.5rem 0;
		font-size: 1.2rem;
	}

	&.error {
		border-radius: 0.25rem;
		padding: 0.75rem 1.5rem;
		color: #721c24;
		background-color: $color__error;
		border-color: #f5c6cb;
		animation: shake 0.3s ease-in-out;
	}
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}
