<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="admin/admin.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<title>Mnio admin page</title>
	<script src="socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, height=device-height">
</head>

<body>

	<div id="gameswindow">
		<ul id="games">
			<li id="activegames"><a>Active games</a></li>
			<li id="current">Current game</li>
			<li id="setflag">New game</li>
			<li id="previous"><a>Previous games</a></li>
		</ul>
	</div>
	<div hidden id="canvaswindow">
		<div id="buttons">
			<button  id="close"><a>X</a></button>
		</div>
		<input id="slider" type="range" value="50">
		<canvas id="canvas"></canvas>
	</div>

	<script src="admin/admin.js"></script>
</body>

</html>
