<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="admin/admin.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<title>Mnio admin page</title>
	<script src="socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, height=device-height">
</head>

<body>
	<!-- <div class="admin"><h1>Mnio Admin page</h1></div> -->
	<div id="buttons">
		<button id="displaycanvas"><a>Display Canvas</a></button>
		<button id="getgames"><a>Get games</a></button>
	</div id="gameswindow">

	<div id="gameswindow">
		<ul id="games">
		</ul>
	</div>

	<canvas hidden id="admincanvas"></canvas>

	<script src="admin/admin.js"></script>
</body>

</html>
