<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
	<title>MN.io : Un jeu multijoueur du Mobilier National</title>
	<link rel="license" href="/dist/main.js.LICENSE.txt">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>

<body>
	<img id="logo" src="dist/img/logo-full.png" alt="sorry">
	<%= require('./components/map/map.ejs')() %>
	<%= require('./tutoriel/tutoriel.ejs')() %>
	<%= require('./components/ui/ui.ejs')() %>
</body>

</html>