#master {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -45%);
  outline: solid 1px darkgrey;
}

#canvas, #canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

#canvas, #canvas2 {
  background: transparent;
}

#canvas2 {
  opacity: 0.9;
  display: none;
}
