#carton {
  position: absolute;
  height: 84%;
  width: 44%;
  top: 50%;
  transform: translateY(-43%);
}

#degaulle {
  height: 45%;

  & img {
    max-height: 92%;
  }
}

#wool, #duration {
  height: 25%;

  & img {
    max-width: 95px;
  }
}

.carton {
  display: flex;
  width: 100%;
  padding: 3% 10%;
  box-sizing: border-box;

  & img {
    height: 100%;
    object-fit: contain;
  }

  & span {
    color: blue;
    font-size: 1em;
    font-weight: 600;
  }
}

.tapInfo {
  padding-left: 11%;

  & p {
    margin: 5vh 0;
    line-height: 1.7em;
  }
}

#dg, #dgScale {
  transform-origin: bottom;
}
