<%- include('head'); -%>
<%- include('header'); -%>

<div class="content">
	<div class="page">
		<section>
			<h6>MN/Rab est un projet porté par des étudiants du Master 2 Design de la CéSAAP et du CNAM, en résidence au Mobilier National. <br><br>Le collectif explore les potentiels du design numérique dans la perspective d’ouvrir le Mobilier national au grand public.<br><br>
			Il s’inscrit à la suite de la mise en ligne des collections de l’institution sur la plateforme du <a href="https://collection.mobiliernational.culture.gouv.fr/recherche" target="_blank">MN/Lab.</a></h6>
		</section>
	</div>
</div>

<%- include('footer'); -%>
