<%- include('../elements/head'); -%>
<%- include('../elements/header'); -%>


<div class="content">
	<div class="page">
		<section>
			<h1>Contexte de création</h1>
			<div class="texte">
				<p> MN/Rab est un projet conduit au sein du Master 2 Design, projet, création, transdisciplinarité. La formation est portée par la <a href="http://ensaama.net/site/home/ecole/cesaap" target="_blank">CéSAAP (Conférence des écoles Supérieures d’Arts Appliqués de Paris)</a> et le <a href="http://www.cnam.fr/portail/accueil-conservatoire-national-des-arts-et-metiers-821166.kjsp" target="_blank">CNAM</a>. Les étudiants sont accueillis en résidence au <a href="http://www.mobiliernational.culture.gouv.fr/" target="_blank">Mobilier national</a> dans le 13ème arrondissement de Paris.</p>
				<p>Après deux semaines de visites intensives dans les ateliers de l’institution en octobre 2019, notre promotion a investi le pavillon d’Angiviller afin d’y concevoir des projets variés pour le Mobilier national. C’est dans ce contexte qu’est né le MN/Rab.</p>
				<p>Ce site a pour vocation d’archiver l’ensemble de nos recherches ainsi que les avancées du projet. Il nous permet également d’exposer nos idées en quelques clics et de dialoguer avec les différents acteurs du MN/Rab.</p>
			</div>
			<img class="image" src="img/studio.jpg">
		</section>
		<section>
			<h1>Le collectif</h1>
			<div class="texte">
				<p>MN/Rab est un projet porté par Margaux Drocourt, diplômée du DSAA événementiel et médiation de l’école Boulle, et Lucas Poulain, diplômé du DSAA produit de la même école. Nous avons choisi d'axer notre travail au sein du Master à l’ouverture du Mobilier national au grand public grâce au numérique.</p>
				<p>Le projet a été initié aux côtés de <a href="https://www.zeliesagot.fr/" target="_blank">Zélie Sagot</a>, aujourd’hui graphiste indépendante.</p>
				<p>L’hébergement du site MN/Rab a été rendu possible grâce à Gabriel Duque, ingénieur informatique en études à l’Epita.</p>
			</div>
			<img class="image" src="img/collectif.jpg">
		</section>
	</div>
</div>

<%- include('../elements/footer'); -%>
