<%- include('../partials/header.ejs', locals) %>

<section id="view">
	<canvas></canvas>
	<div id="player"></div>
</section>

<section id="buttons">
	<button type="button" class="zoom" id="zoomin">
		<img src="/assets/img/zoom-in.svg" alt="" />
	</button>
	<button type="button" class="zoom" id="zoomout">
		<img src="/assets/img/zoom-out.svg" alt="" />
	</button>
	<button type="button" class="color"></button>
	<button type="button" class="color"></button>
	<button type="button" class="color"></button>
	<button type="button" class="color"></button>
	<button type="button" class="color"></button>
</section>

<%- include('../partials/game/menu.ejs', locals) %>
<%- include('../partials/game/help.ejs', locals) %>
<%- include('../partials/footer.ejs', locals) %>
