<%- include('../partials/header.ejs', locals) %>

<main>
	<h1><%= siteName %></h1>
	<%- include('../partials/lobby/info.ejs', locals) %>
	<button class="primary" onclick="window.location.href='/username'">Dessiner</button>
</main>

<%- include('../partials/footer.ejs', locals) %>
