<%- include('../elements/head'); -%>
<%- include('../elements/header'); -%>


<section>

	<h1>Automates cellulaires</h1>
	<div class="texte">
		<p>Un automate cellulaire est un objet mathématique évoluant par étapes selon des règles très simples et imitant d'une certaine manière les capacités autoreproductrices des êtres vivants. Il est constitué d'une grille dont les cases sont appelées cellules, pouvant prendre plusieurs états.</p>
		<p>Un automate cellulaire se caractérise par la différence étonnante entre la simplicité des règles de départ et la complexité des résultats obtenus grâce à lui.</p>
		<p>Le principe repose sur les travaux de Neumann et Ulam dans les années 1950, qui cherchaient à explorer les manières dont une structure artificielle pourrait se comporter, ou sembler se comporter, comme un être vivant.</p>
		<p>Ils sont utilisés pour modéliser des systèmes de nature très variés en biologie, en physique, en urbanisme ou en programmation. Ils permettent par exemple d’étudier les feux de forêts, la mécanique des fluides, le trafic routier, l’étalement urbain...</p>
	</div>
	<img class="image" src="img/automate.jpg">

	<h1>Pixel art</h1>
	<img class="image" src="img/pixelart.jpg">
	<div class="texte">
		<p>Le pixel art désigne une composition numérique qui utilise une définition d'écran basse et un nombre de couleurs limité. De fait, le matériau de base du pixel art est la représentation plastique du pixel, c'est-à-dire une surface plus ou moins carrée et colorée. C’est la composante élémentaire de toute création de pixel art. Ces contraintes de moyens minimalistes imposent une stylisation, au cœur d'une recherche esthétique où chaque pixel a son importance. Ainsi, créer une œuvre où les pixels seraient simplement discernables les uns des autres n'est pas une condition suffisante pour en faire du pixel art.</br><br>
		</br>Le pixel-art peut rappeller certaines formes artistiques traditionnelles (broderie, tricot, métier Jacquard…) adaptées à nos supports contemporains.</p>
	</div>

	<h1>Mike Bostock et D3.js</h1>
	<div class="texte">
		<p>Mike Bostock est un développeur JavaScript ayant travaillé pour les visualisations de données du New York Times et notamment connu pour avoir créé la librairie de visualisation de données D3.js. Cette bibliothèque open source met à disposition différents outils d'affichage et d'interaction dynamique avec des données numériques .
		Ces données utilisent les languages SVG et JavaScript, accessibles depuis la plupart des ordinateurs. Dotée d’une excellente optimisation, la bibliothèque D3.js permet une grande réactivité d’interaction et une gestion des animations performante.</p>
	</div>
	<img class="texte" src="img/wilson.jpg">

</section>

<section>

	<h1>Bleue par Marie Sirgue</h1>
	<div class="texte">
		<p>En 2016, la jeune artiste Marie Sirgue remporte le 2ème Prix de l’Appel à la création contemporaine de la Cité internationale de la tapisserie d’Aubusson. Avec l’institution, elle réalise Bleue, une œuvre clin d’œil à Klein et imitant une bâche de chantier.</p><p> Le trompe l’œil est bluffant : des plis aux replis de l’objet en passant par ses anneaux d’accrochage et ses effets d’ombres et de lumière, rien ne laisse présumer de loin le tissage. Marie Sirgue voulait proposer une pièce en décalage de la tapisserie traditionnelle, la bâche de chantier évoquant plutôt une protection précaire alors que le tissage était davantage destiné aux grandes pièces de châteaux.</p>
	</div>
	<img class="image" src="img/bleue.jpg">

	<h1>La corde de Mathieu Mercier</h1>
	<div class="texte">
		<p>En 2011, Mathieu Mercier remporte le 3ème Prix de l’Appel à la création contemporaine de la Cité de la tapisserie d’Aubusson. Il propose La Corde, une tapisserie de basse lisse de 3,30m par 3,30m. L’œuvre surprend grâce à un jeu d’aller-retour entre le motif et la matière, entre l’impression générale de l’objet représenté et le caractère géométrique de ses détails.</p><p>La tapisserie se compose et se décompose selon le mouvement de celui qui regarde : la corde est bien visible de loin mais seul un amas de pixels est observable de près. Pour travailler cette impression de 3D sur un espace 2D, l’artiste a exploré les possibilités que lui offrait la décomposition colorimétrique et a choi</p>
	</div>
	<img class="image" src="img/corde.jpg">

</section>

<section>

	<h1>Automates Cellulaires</h1>
	<ul class="liste">
	  <li class="lien">
		<a href="https://bost.ocks.org/mike/algorithms/" target="_blank">Visualising algorithms</a>
	  </li>
	  <li class="lien"><a href="https://www.jamisbuck.org/mazes/ "target="_blank">Labyrinthes</a>
	  </li>
	  <li class="lien"><a href="https://softologyblog.wordpress.com/2018/03/23/rock-paper-scissors-cellular-automata/" target="_blank">Pierre feuille ciseaux</a></li>
	  <li class="lien"><a href="https://rileyjshaw.com/terra/#customOptions" target="_blank">Terra.js</a></li>
	  <li class="lien"><a href="http://paperjs.org/examples/boolean-operations/" target="_blank">paperjs</a></li>
	  <li class="lien"><a href="https://sandspiel.club/" target="_blank">Sainndspiel</a></li>
	</ul>

	<h1>Pixelart</h1>
	<ul class="liste">
		<li class="lien"><a href="https://pixelcanvas.io/@-5323,-2166" target="_blank">Pixel canvas.io</a></li>
		<li class="lien"><a href="https://pixelzone.io/?p=864,364" target="_blank">Pixel zone.io</a></li>
		<li class="lien"><a href="https://www.crazygames.com/game/pixelplanet" target="_blank">Pixel Planet</a></li>
	</ul>

</section>

<%- include('../elements/footer'); -%>
