<%- include('../elements/head'); -%>
<%- include('../elements/header'); -%>

<div class="content">
	<div class="page">
		<section id="center">
			<h1>Workshop WELCOME</h1>
			<p>Le projet a été initié lors d'un workshop réalisé à la rentrée 2019. Nous nous sommes intéressés à l'ouverture au grand public mise en oeuvre avec le lancement du MN/Lab, plateforme numérique du Mobilier national, le 2 avril 2019. Celle-ci recense près de 65.000 objets issus des collections.</p>
			<p>MN/Rab a été créé pour réfléchir à des services additionnels à cette plateforme. Lors de la première phase de développement, nous avons présenté plusieurs pistes de projet, en cherchant à interroger les modes de représentation des collections ainsi que le potentiel d’interaction numérique avec celles-ci.</p>
			<p>À travers différents médiums relevant de la communication digitale, de la visualisation de données et des outils participatifs, MN/Rab invite le visiteur‑amateur à découvrir et investir l’institution.</p>
			<div class="welcomevideo">
				<video controls muted poster="img/poster.jpg">
				<source type="video/mp4" src="img/welcome_final.mp4">
				<p>Votre navigateur ne prend pas en charge les vidéos HTML5.</p>
				</video>
			</div>
		</div>
	</div>
</div>

<%- include('../elements/footer'); -%>
