<div id="introTuto">

  <div id="info">
    <h4 id="textInfo"></h4>
  </div>
  <div id="moveImg">
    <img id="moveIcon" src="data:," alt>
  </div>
  <button class="high btn tutoBtn" type="button" id="follow">Suivant &#10132</button>
  <button class="low btn tutoBtn" type="button" id="skip">Passer le tutoriel</button>
  <button class="high btn tutoBtn" type="button" id="play">Jouer !</button>
  <div id="info">
  </div>

</div>
