<div id="intro">

    <div id="tap">
      <div id="palette">
        <div class="pal"></div>
        <div class="pal"></div>
        <div class="pal"></div>
        <div class="pal"></div>
        <div class="pal"></div>
      </div>
      <img id="tapImg" src="data:," alt>
    </div>

  <div id="left">
    <div id="choices">
      <button type="button" id="rdm">changer</button>
      <button type="button" id="select">choisir</button>
    </div>
    <h3 id="description"></h3>
  </div>


</div>
