<div id="lobby">
  <div id="lgf">
    <img id="logofull" src="dist/img/logo-full.png" alt="sorry">
  </div>
  <div id="choice">
    <button class="btn low" id="galerie"><a href="/gallery"><p>La galerie</p></a></button>
    <button class="btn high" id="jeu">Le jeu</button>
  </div>
  <div id="container">

    <div id="installMessage">
      <p>Voulez vous ajouter MN.io à l'écran d'accueil ?</p>
    </div>

    <div id="installedMessage">
      <h2>Merci d'avoir installé MN.io !</h2>
      <p>Retrouvez l'application sur l'écran d'accueil dans quelques secondes pour jouer.</p>
    </div>

    <div id="iosMessage">
      <p><img id="share" src="dist/img/share.png" alt="sorry"> Cliquez sur "Partager" dans la barre d'outils au bas de l'écran. </p>
      <p><img id="save" src="dist/img/save.png" alt="sorry"> Puis "Ajouter à l'écran d'accueil". </p>
    </div>

    <div id="logWindow">
      <div id="user">
        <h4>Nom d'utilisateur</h4>
        <input type="text" id="userName" placeholder="Nouveau ou enregistré" />
      </div><br />
      <div id="pass">
        <h4 id="passtxt">Mot de passe</h4>
        <input type="password" id="Password" placeholder="Max 8 caractères" />
      </div>
      <div id="pass2">
        <h4>Confirmer le mot de passe</h4>
        <input type="password" id="Password2" placeholder="Max 8 caractères" />
      </div>
      <h4 id="forgot">Mdp oublié ?</h4>
    </div>

    <button id="logBtn" class="btn high">Suivant &#10132</button>
    <button id="passBtn" class="btn high">Jouer !</button>

    <button id="installBtn" class="btn high" type="button">Installer</button>

    <button id="stayBtn" class="btn low" type="button">Non, rester dans le navigateur &#10132</button>

  </div>
</div>
