<div id="roulette">

  <div id="palette">
    <div class="pal"></div>
    <div class="pal"></div>
    <div class="pal"></div>
    <div class="pal"></div>
    <div class="pal"></div>
    <button type="button" id="rdm"></button>
  </div>
  <div id="tap">
    <img id="tapImg"  src="data:," alt>
    <h3 id="tapDesc"></h3>
  </div>

</div>
