<div id="tuto">
  <button id="closeTuto" type="button">
    <img src="dist/img/close.png" alt="sorry">
  </button>
  <div id="allTuto">
    <h4>Coloriez votre première case pour pouvoir vous déplacer</h4>
    <p>Les cases grises indiquent les zones où vous pouvez aller</p>
    <hr />
  </div>

  <div id="pcTuto">
    <br />

    <h3>Colorier</h3>
    <p><b>Barre espace</b> : Colorier avec la couleur active</p>
    <p><b>Touches CTRL et MAJ</b> : Changer de couleur</p>
    <p><b>Boutons de couleurs</b> : Sélectionner la couleur + colorier</p>
    <br />

    <h3>Se déplacer</h3>
    <p><b>Flèches directionnelles</b></p>
    <br />

    <h3>Zoomer/dézoomer</h3>
    <p><b>Touche Z :</b> Zoomer</p>
    <p><b>Touches ALT + Z :</b> Dézoomer</p>
    <p><b>Boutons + et -</b></p>
  </div>

  <div id="mobileTuto">
    <br />
    <p><b>Colorier : </b>Boutons de couleurs</p>
    <p><b>Se déplacer : </b>Swiper</p>
    <p><b>Zoomer/dézoomer : </b>Boutons + et -</p>
    <br />
  </div>
  <%= require('./introtuto.ejs')() %>
</div>
