<div id="master" style="position: relative;">
  <canvas class="mapcanvas"></canvas>
  <canvas class="mapcanvas"></canvas>
  <canvas class="mapcanvas"></canvas>
  <%= require('../player/player.ejs')() %>
</div>