#master {
  overflow: hidden;
  position: relative;
  background: white;
  box-sizing: border-box;
}

.mapcanvas {
  overflow: hidden;
  position: absolute;
  transition-timing-function: ease;

  &:last-of-type {
    opacity: 0.5;
  }
}