#view {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  background: white;
}

canvas {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  transition-timing-function: linear;
  transform-origin: top left;

  &:last-of-type {
    opacity: 0.5;
  }
}