#buttons {
  /* z-index: 950; */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;

  & button {
    box-sizing: border-box;
    max-height: 55px;
    max-width: 55px;
    border-radius: 5px;
    box-shadow: #bbb 5px 5px;
    transition: all .15s ease;

    &.zoom {
      min-height: 22px;
      min-width: 22px;
      transition: all 0.1s ease;
      transform: scale(0.9);
      border: solid 1px black;
      padding: 0;
      filter: saturate(0);

      &:active {
        filter: saturate(1);
      }

      & img {
        height: 100%;
        width: 100%;
      }
    }

    &:not(.zoom) {
      transform-origin: bottom right;
      min-height: 36px;
      min-width: 26px;
      border: solid 1px black;

      &:active {
        opacity: 0.8;
      }
    }
  }
}